@model Ecommerce.Models.Products

@{
    ViewData["Title"] = "Add New Product";
}
<br />
<h1 class="text-info" style="text-align:center;">Add New Product</h1>
<br />

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group row">
        <div class="col-2">
            <b><label asp-for="Name" class="control-label"></label></b><b style="color:red;"> *</b>
        </div>
        <div class="col-8">
            <input asp-for="Name" class="form-control" placeholder="Enter Product Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
            <span class="text-danger">@ViewBag.Message</span>
        </div>  
    </div>

    <div class="form-group row">
        <div class="col-2">
            <b><label asp-for="Price" class="control-label"></label></b><b style="color:red;"> *</b>
        </div>
        <div class="col-8">
            <input asp-for="Price" class="form-control" placeholder="Enter Product Price" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-2">
            <b><label asp-for="Image" class="control-label"></label></b>
        </div>
        <div class="col-8">
            <input asp-for="Image" class="form-control" type="file" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <b><label asp-for="ProductColor" class="control-label"></label></b>
        </div>
        <div class="col-8">
            <input asp-for="ProductColor" class="form-control" placeholder="Enter Product Color" />
            <span asp-validation-for="ProductColor" class="text-danger"></span>
        </div>  
       
    </div>

    <div class="form-group row">

        <div class="col-2">
            <b><label asp-for="ProductTypeId" class="control-label"></label></b><b style="color:red;"> *</b>
        </div>
        <div class="col-8">
            <select asp-for="ProductTypeId" class="form-control" asp-items="ViewBag.ProductTypeId">
                <option value="">Select Product Type</option>
            </select>
            <span asp-validation-for="ProductTypeId" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-2">
            <b><label asp-for="SpecialTagId" class="control-label"></label></b><b style="color:red;"> *</b>
        </div>
        <div class="col-8">
            <select asp-for="SpecialTagId" class="form-control" asp-items="ViewBag.SpecialTagId">
                <option value="">Select Product Special Tag</option>
            </select>
            <span asp-validation-for="SpecialTagId" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-2">
            <b><label asp-for="IsAvailabe" class="control-label"></label></b>
        </div>
        <div class="col-8">
            <input asp-for="IsAvailabe" class="form-check-inline" />
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Add New Product" class="btn btn-outline-success" />
        <a asp-action="Index" class="btn btn-outline-info">Back</a>
    </div>
</form>

<br />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
