@model Ecommerce.Models.User

@{
    ViewData["Title"] = "Account Lockout";
}
<br />
<h1 class="text-info text-center">Account Lockout</h1>
<br />

<form asp-action="Lockout" method="post" id="user-form" enctype="multipart/form-data">

    <div class="form-group row">
        <div class="col-2"> </div>
        <div class="col-8">
            <input type="hidden" asp-for="Id" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-2">
            <b><label asp-for="UserName" class="control-label">User Name</label></b>
        </div>
        <div class="col-8">
            <input asp-for="UserName" class="form-control" readonly="readonly" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-2">
            <b><label asp-for="AccountName" class="control-label"></label></b>
        </div>
        <div class="col-8">
            <input asp-for="AccountName" class="form-control" readonly="readonly" />
        </div>
    </div>


    <div class="form-group  row">
        <div class="col-2">
        </div>
        <div class="col-8">
            <h3 style="color:red;">Are you sure you want to lockout your account?</h3>
            <br />
            <input type="submit" value="Lockout" class="btn btn-outline-warning" />
            <a asp-action="Index" class="btn btn-outline-info">Back</a>
        </div>
    </div>
</form>

<br />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}